on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_run:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    env:
      GITHUB_TOKEN: ${{ secrets.WORKFLOW_RELEASE_TOKEN }}
    steps:
      - run: echo "----- more disk space -----"
      - run: sudo rm -rf /opt/ /usr/local/.ghcup /usr/local/lib/android

      - uses: actions/checkout@v4
      - run: git config --global user.name "GitHub"
      - run: git config --global user.email git@github.com

      - run: echo "----- build stack -----"
      - run: sudo apt update && sudo apt install -y podman qemu-user-static
      - run: ./build.sh
      - run: ./archive_artifacts.sh .build.tar.xz
      # delete and restore built files - ensure we are self contained
      - run: rm -rf ./*
      - run: tar xvf .build.tar.xz

      - run: echo "----- build latest QEMU -----"
      - run: sudo sed -i -e "s/ deb$/ deb deb-src/" /etc/apt/sources.list.d/ubuntu.sources
      - run: sudo apt update && sudo apt build-dep -y qemu
      - run: git clone https://gitlab.com/qemu-project/qemu --branch v10.0.2 --single-branch --depth 1
      - run: cd qemu && ./configure --target-list=x86_64-softmmu && ninja -C build && cd ..

      - run: echo "----- make /dev/kvm available -----"
      - run: bash -c "[ -e /dev/kvm ] && sudo chown $USER:$USER /dev/kvm || true"

      - run: echo "----- run VM and exit -----"
      - run: timeout 10m ./run.sh ./qemu/build/qemu-system-x86_64

      - run: echo "----- create artifacts ------"
      - run: echo $(basename ${{github.ref}}) > branch
      - run: echo $(git rev-parse --short=7 HEAD) > version
      - run: mv .build.tar.xz $(cat branch)-$(cat version).tar.xz

      - run: echo "----- tag build -----"
      - run: git tag $(cat branch)-$(cat version) && git push --tags

      - run: echo "----- push artifacts to "build" release -----"
      - run: gh release upload --clobber build $(cat branch)-$(cat version).tar.xz
