on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_run_guest:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    env:
      GITHUB_TOKEN: ${{ secrets.WORKFLOW_RELEASE_TOKEN }}
    steps:
      - run: echo "----- more disk space -----"
      - run: sudo rm -rf /opt/ /usr/local/.ghcup /usr/local/lib/android

      - uses: actions/checkout@v4
      - run: git config --global user.name "GitHub"
      - run: git config --global user.email git@github.com

      - run: echo "----- build latest QEMU -----"
      - run: sudo sed -i -e "s/ deb$/ deb deb-src/" /etc/apt/sources.list.d/ubuntu.sources
      - run: sudo apt update && sudo apt build-dep -y qemu
      - run: git clone https://github.com/pbo-linaro/qemu --branch smmu-da-2025-11-05 --single-branch --depth 1
      - run: cd qemu && ./configure --target-list=aarch64-softmmu && ninja -C build && cd ..

      - run: echo "----- build stack -----"
      - run: sudo apt update && sudo apt install -y podman qemu-user-static
      - run: ./build.sh

      - run: echo "----- run nested guest and exit -----"
      - run: INIT='env INIT=true /host/guest.sh qemu-system-aarch64' ./run.sh ./qemu/build/qemu-system-aarch64

      - run: echo "----- create artifacts ------"
      - run: echo $(basename ${{github.ref}}) > branch
      - run: echo $(git rev-parse --short=7 HEAD) > version
      - run: ./archive_artifacts.sh $(cat branch)-$(cat version).tar.xz

      - run: echo "----- tag build -----"
      - run: git tag $(cat branch)-$(cat version) && git push --tags

      - run: echo "----- push artifacts to "build" release -----"
      - run: gh release upload --clobber build $(cat branch)-$(cat version).tar.xz
